/* .carousel-control-next,
.carousel-control-prev {
  background-color: #fff;
} */
/* 
.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: rgb(19, 18, 18);
  color: black !important;
} */

.carousel-indicators {
  display: none;
}
